// $font-default: "font-default", sans-serif;

@font-face {
  font-family: "RobotoMono";
  src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

$fontRM: "RobotoMono";

$color-1: rgb(102, 102, 102);
$color-2: gold;
$color-3: goldenrod;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: $fontRM;
}
